.page-top {
    margin: auto;
    text-align: center;
    border: 6px groove black;
    
}

* {
    font-family: Vollkorn;
}
.nav ul {
    display: flex;
    justify-content: end;
}
.nav li {
    border: 6px groove black;
    list-style-type: none;
    padding: 10px;
    box-sizing: border-box;
    transition: border 0.3s, padding 0.3s;
}
.nav li.active, .nav li:hover {
    border: 6px solid black;
    padding: 6px;
}
.nav div {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 1.5em;
}
a {
    text-decoration: none;
    color: black;
}

.nav ul a:first-child {
    margin: auto 10px;
}

.box.title {
    border: 5px double black;
    text-align: center;
}